chain output-mangle {
  type route hook output priority mangle; policy accept;
  oifname "lo" accept
  ct state new jump voyage_add_connmark
  ct direction reply jump voyage_restore_mark_reply
  include "/etc/nftables/basic/output-mangle/*.conf"
}

chain prerouting-mangle {
  type filter hook prerouting priority mangle; policy accept;
  ct state new jump voyage_add_connmark
  ct direction reply jump voyage_restore_mark_reply
  include "/etc/nftables/basic/prerouting-mangle/*.conf"
}

chain postrouting-mangle {
  type filter hook postrouting priority mangle; policy accept;
  ct state new jump voyage_add_connmark
  ct direction original jump voyage_clear_mark
  include "/etc/nftables/basic/postrouting-mangle/*.conf"
}

chain voyage_add_connmark {
  ip dscp { cs1, cs2 } ct mark set ip dscp return
  ip6 dscp { cs1, cs2 } ct mark set ip6 dscp return
}

chain voyage_restore_mark_reply {
  meta mark set meta mark | 0x00000040
  (ct mark & 0x0000003f) == 0x8 ip dscp set cs1 return
  (ct mark & 0x0000003f) == 0x8 ip6 dscp set cs1 return
  (ct mark & 0x0000003f) == 0x10 ip dscp set cs2 return
  (ct mark & 0x0000003f) == 0x10 ip6 dscp set cs2 return
}

chain voyage_clear_mark {
  ip dscp set 0
  ip6 dscp set 0
}
